@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #f0f0f1;
}

.container {
    border: 10px outset #6B82AB;
    box-shadow: 3px 6px 15px #6B82AB;
    border-radius: 16px;
    padding: 0;
    max-width: 750px;
    margin: 15px auto;
    position: relative;
    overflow: hidden;
}

.container img {
    width: 100%;
}

.weather-app {
    max-width: 550px;
    margin: 0px auto 10px;
    border-radius: 5px;
    padding: 25px;
    position: absolute;
    bottom: 50px;
    left: 95px;
    /* glass-effect */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 15px 5px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(35px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-control {
    background: #e8eef8;
    padding: 16px 10px;
    border: none;
    color: #6B82AB;
}

.btn-transparent {
    border: 2px solid #39465a;
    font-size: 26px;
    font-weight: 500;
}

.btn-transparent:hover {
    background: #39465a;
    color: #ced0d4;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 0;
    color: #e8eef8;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    font-size: 16px;
    font-weight: 100;
    /* color: #39465a; */
     color: #e8eef8;
    line-height: 19px;
}

li::first-letter {
    text-transform: capitalize;
}

.temperature {
    /* margin-top: 2rem; */
    color: #e8eef8;
}

a {
    text-decoration: none;
}

.temperature img {
    width: 64px;
    height: 64px;
    margin-top: -2rem;
}

strong {
    font-size: 60px;
    font-weight: 400;
    color: #e8eef8;
}

.units {
    font-size: 20px;
    position: relative;
    bottom: 2rem;
    right: 0.5rem;
}

.active {
    color: #39465a;
    cursor: default;
    font-weight: 600;
}

/* Weather-Forecast */
.weather-forecast {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #e8eef8;
}

.forecast-day {
    font-size: 16px;
    font-weight: 200;
}

.forecast-temperatures {
    font-size: 13px;
}

.min {
    opacity: 0.8;
}

footer {
    text-align: center;
}